<!DOCTYPE html>
<html>
<head>

    <title>Visitor Dashboard</title>

    <style>
        body {
            font-family: Arial;
            margin: 30px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background: #f2f2f2;
        }
    </style>

</head>

<body>

<h1>Visitor Dashboard</h1>

<table>

<thead>
<tr>
    <th>Time</th>
    <th>IP</th>
    <th>Browser</th>
    <th>OS</th>
    <th>Device</th>
    <th>Referrer</th>
    <th>Country</th>
    <th>Region</th>
    <th>City</th>
    <th>ISP</th>
    <th>Approx. Coordinates</th>
</tr>
</thead>

<tbody>

{% for v in visitors %}

<tr>

<td>{{ v["visit_time"] }}</td>

<td>{{ v["ip"] }}</td>

<td>
    {{ v["browser"] }}
    {{ v["browser_version"] }}
</td>

<td>
    {{ v["os"] }}
    {{ v["os_version"] }}
</td>

<td>{{ v["device"] }}</td>

<td>{{ v["referrer"] }}</td>

<td>{{ v["country"] }}</td>

<td>{{ v["region"] }}</td>

<td>{{ v["city"] }}</td>

<td>{{ v["isp"] }}</td>

<td>
    {{ v["latitude"] }},
    {{ v["longitude"] }}
</td>

</tr>

{% endfor %}

</tbody>

</table>

</body>
</html>